<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/home.css">
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
    integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>home page</title>
    
</head>
<body>
    <div class="container">
       
        <div class="leftSide">
             <!--  header section-->
           <div class="header">
            <div class="userName">
                <h4>You joined</h4>
            </div>       
           </div>
             <!--chat list-->
             <div class="chatList">
              
             </div>
        </div>

        <div class="rightSide">
            <div class="header">
               
              <!-- icons at header section-->
                <ul class="nav_icons">
                  <li><ion-icon name="ellipsis-vertical-outline"></ion-icon></li>
                </ul>
            </div>
            <!-- chat box -->
            <div class="chatBox">
                <div class="message my_message">
                    <p>hi<br><span>12:15</span></p>
                </div>
                <div class="message frnd_message">
                    <p>hello<br><span>12:15</span></p>
                </div>
            </div>
               <!-- footer section -->
            <div class="chatBox_input">
                <ion-icon name="happy-outline"></ion-icon>
                <ion-icon name="attach-outline"></ion-icon>
                <input id="chat-message" type="text" placeholder="type a message">
               <ion-icon id="sendBtn" name="send-outline"></ion-icon>
            </div>
        </div>
    </div>
    <script>

        window.addEventListener('load', async(event)=>{
            event.preventDefault();
            const response = await axios.get("http://localhost:5000/add/active-users");
            if (Array.isArray(response.data)) {
               console.log(response.data);
               
               const lastUser = response.data.pop();
               const users = [...response.data];
              
               const Header = document.querySelector('.rightSide .header');
               Header.innerHTML =`
                        <div class="imgText">
                            <h4>${lastUser}</h4>
                        </div>
               `;

               users.forEach(element => {
                  showOnLineUsers(element);
               });
                
            } else {
                console.log("The response data is not an array");
            }
        });

          const chatList = document.querySelector('.chatList');

            function showOnLineUsers(element) {
                const userBlock = document.createElement('div');
                userBlock.classList.add('block'); // Add a class for styling if needed
                userBlock.innerHTML = `
               <div> <p>${element}</p></div>
                <h4>Joined</h4>
                `;
                chatList.appendChild(userBlock);
            }

            const sendBtn = document.querySelector('#sendBtn');
            sendBtn.addEventListener('click', async(event)=>{

                 const message = document.querySelector('#chat-message').value;
                 const token = localStorage.getItem('token');
                 
                 const response = await axios.post('http://localhost:5000/post-chat/chat',{message},{headers:{"Authorization": token}});

                 console.log(response.data);
            })
    </script>
</body>
</html>