<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/home.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>home page</title>
</head>
<body>
    <div class="container">
       
        <div class="leftSide">
             <!--  header section-->
           <div class="header">
            <div class="userName">
                <h4>Amar</h4>
            </div>
          <!-- icons at header section-->
            <ul class="nav_icons">
             <!-- 
                <li></li>
                <li></li> 
            -->
            </ul>
           </div>
           <!-- search field -->
             <div class="search_chat">
               <div>
                <input type="search" placeholder="Search 0r start chat">
                <ion-icon name="search-outline"></ion-icon>
               </div>    
             </div>
             <!--chat list-->
             <div class="chatList">
                <div class="block">
                    <div class="details">
                        <div class="listHead">
                            <h4>ramu prasad</h4>
                            <p class="time">10:54</p>
                        </div>
                        <div class="message_p">
                            <p>how are you doing</p>
                        </div>
                    </div>
                </div>
                
                <div class="block">
                    <div class="details">
                        <div class="listHead">
                            <h4>himu prasad</h4>
                            <p class="time">04:00</p>
                        </div>
                        <div class="message_p">
                            <p>how are you doing</p>
                        </div>
                    </div>
                </div>

                <div class="block">
                    <div class="details">
                        <div class="listHead">
                            <h4>shalu prasad</h4>
                            <p class="time">04:00</p>
                        </div>
                        <div class="message_p">
                            <p>how are you doing</p>
                        </div>
                    </div>
                </div>

                <div class="block">
                    <div class="details">
                        <div class="listHead">
                            <h4>harsu prasad</h4>
                            <p class="time">04:00</p>
                        </div>
                        <div class="message_p">
                            <p>how are you doing</p>
                        </div>
                    </div>
                </div>

                <div class="block">
                    <div class="details">
                        <div class="listHead">
                            <h4>akku prasad</h4>
                            <p class="time">04:00</p>
                        </div>
                        <div class="message_p">
                            <p>how are you doing</p>
                        </div>
                    </div>
                </div>

             </div>
        </div>

        <div class="rightSide">
            <div class="header">
                <div class="imgText">
                    <h4>Amar<br>
                    <span style="color: rgb(5, 112, 28); font-size: 0.8em;">online</span></h4>
                </div>
              <!-- icons at header section-->
                <ul class="nav_icons">
                  <li><ion-icon name="ellipsis-vertical-outline"></ion-icon></li>
                </ul>
            </div>
            <!-- chat box -->
            <div class="chatBox">
                <div class="message my_message">
                    <p>hi<br><span>12:15</span></p>
                </div>
                <div class="message frnd_message">
                    <p>hello<br><span>12:15</span></p>
                </div>
            </div>
               <!-- footer section -->
            <div class="chatBox_input">
                <ion-icon name="happy-outline"></ion-icon>
                <ion-icon name="attach-outline"></ion-icon>
                <input type="text" placeholder="type a message">
               <ion-icon name="send-outline"></ion-icon>
            </div>
        </div>
    </div>
</body>
</html>